@using MountainTrip.Services.Trips
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<TripServiceModel>

@{
    ViewBag.Title = "Trips Administration";
}

<center>
    <h1 style="color:blue">All Trips</h1> <br>
</center>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Length</th>
      <th scope="col">Duration</th>
      <th scope="col">Difficulty</th>
      <th scope="col">MountainName</th>
      <th scope="col">Approved</th>
      <th scope="col">Bookings</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var trip in Model)
        {
            <tr>
                <td scope="col">@trip.Id</td>
                <td scope="col">@trip.Name</td>
                <td scope="col">@trip.Length</td>
                <td scope="col">@trip.Duration</td>
                <td scope="col">@trip.Difficulty</td>
                <td scope="col">@trip.MountainName</td>
                <td scope="col">@(trip.IsPublic ? "Yes" : "No")</td>                
                <td scope="col">
                    <a asp-area="" asp-controller="Trips" asp-action="Details" asp-route-id="@trip.Id" asp-route-info="@(trip.Name + ", " + trip.Duration + ", " + trip.Length)" class="btn btn-primary">View Details</a>
                    <a asp-area="" asp-controller="Trips" asp-action="Edit" asp-route-id="@trip.Id" class="btn btn-warning ">Edit</a>
                    <a asp-area="Admin" asp-controller="Trips" asp-action="ChangeVisibility" asp-route-id="@trip.Id" class="btn btn-info ">@(trip.IsPublic ? "Hide" : "Show")</a>                    
                    <a asp-area="" asp-controller="Trips" asp-action="Delete" asp-route-id="@trip.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>            
        }
    </tbody>
</table>
