@model IEnumerable<TripServiceModel>

<div class="row">
    @foreach(var trip in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
              <img src="@trip.ImageUrl" class="card-img-top" alt="@trip.Name @trip.Difficulty - @trip.Duration @trip.Length">
              <div class="card-body text-center">
              <h5 class="card-title text-center">@trip.Name, @trip.Difficulty, @trip.Duration, @trip.Length</h5>           
              <a asp-controller="Trips" asp-action="Details" asp-route-id="@trip.Id" asp-route-info="@(trip.Name + ", " + trip.Duration + ", " + trip.Length)" class="btn btn-primary">View Details</a>
                    @if (ViewBag.AllowTripEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Trips" asp-action="Edit" asp-route-id="@trip.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Trips" asp-action="Delete" asp-route-id="@trip.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>   
    }
</div>
