@inject IGuideService Guides

@{
    var userId = String.Empty;
    var userIsGuide = false;
}

@{
    if (User.Identity.IsAuthenticated)
    {
        userId = User.Id();
        userIsGuide = Guides.IsGuide(userId);
    }
}

<h2 class="text-center mt-4 mb-4">@ViewBag.Title</h2>

<div class="row">
    @foreach(var trip in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
              <img height="300" src="@trip.ImageUrl" class="card-img-top" alt="@trip.Name @trip.Difficulty - @trip.Duration @trip.Length">
              <div class="card-body text-center">
              <h5 class="card-title text-center">@trip.Name</h5> <br>      
              <a asp-controller="Trips" 
              asp-action="Details" 
              asp-route-id="@trip.Id" 
              asp-route-info="@(trip.Name + ", " + trip.Duration + ", " + trip.Length)" class="btn btn-info">View Details</a>                    
                    @if (!User.IsAdmin() && !userIsGuide)
                    {
                        <a asp-controller="Bookings"
                        asp-action="AddBooking" 
                        asp-route-id="@trip.Id" 
                        asp-route-info="@(trip.Name + ", " + trip.Duration + ", " + trip.Length)" class="btn btn-success">Booking</a>
                    }
                                        
                    @if (ViewBag.AllowTripEdit is true || User.IsAdmin())
                    {
                        <a asp-controller="Trips" asp-action="Edit" asp-route-id="@trip.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Trips" asp-action="Delete" asp-route-id="@trip.Id" class="btn btn-danger">Delete</a>                       
                    }      
                    
                    @if (ViewBag.AllowTripEdit is true && userIsGuide)
                    {
                        <a asp-controller="Bookings" asp-action="AddBooking" asp-route-id="@trip.Id" class="btn btn-success">Add Booking</a>
                    }
                </div>
            </div>
        </div>   
    }
</div>
