@model AllTripsQueryModel

@{
    ViewBag.Title = "All Trips";
}

<form method="get">
    <div class="row mb-3">
                
        <div class="form-group col-md-3">
            <label asp-for="Searching"></label>
            <input asp-for="Searching" class="form-control mt-2" placeholder="Boyana Church - Boyana Waterfall">            
        </div>

        <div class="form-group col-md-4">
          <div class="form-group col-md-4">
            <div class="dropdown">              
              <label asp-for="Sorting"></label>
              <select asp-for="Sorting" class="form-control mt-2">
                  <option value="1" selected>Name</option>
                  <option value="2">Difficulty</option>
                  <option value="3">Duration</option>
              </select>          
            </div> 
          </div>            
        </div>

    </div>
    <input type="submit" class="btn btn-primary d-done mb-5" value="Search">

<partial name="_TripsPartial" model="@Model.Trips" />
</form>

@{
    if (!Model.Trips.Any())
    {
        <h2 class="text-center">No trips found.</h2>
    }
}

@{
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalTrips / AllTripsQueryModel.TripsPerPage);
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-outline-dark btn-rounded float-left @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
        asp-controller="Trips" 
        asp-action="All" 
        asp-route-currentPage="@previousPage"
        asp-route-name="@Model.Name"
        asp-route-searching="@Model.Searching"
        asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-outline-dark btn-rounded float-end @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
        asp-controller="Trips"
        asp-action="All" 
        asp-route-currentPage="@(Model.CurrentPage + 1)"
        asp-route-name="@Model.Name"
        asp-route-searching="@Model.Searching"
        asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

