@model TripDetailsServiceModel

<div class="col-md-6 offset-3">
    <h2>@Model.Name @Model.Duration</h2>
    @*<img src="@trip.ImageUrl" class="card-img-top" alt="@trip.Name @trip.Difficulty - @trip.Duration @trip.Length">*@
</div>